@media only screen and (min-width: 992px) {
    .pl-lg-4{
      padding-left: 4em;
    }
    .pr-lg-0 {
      padding-right: 0px!important;
   }
    .pl-lg-0 {
      padding-left: 0px!important;
    }
    
  }

  @media only screen and (max-width: 450px) {
  .footer-wrap {
    position: relative;
    /* background-color: #e8f1fe; */
    background-image: url("../images/footerlayer.png");
    margin-top: 40px;
    background-repeat: no-repeat;
    padding: 148px 0px 20px 0px;
    background-size: cover;
    background-position: bottom;
}
.footer-wrap .footer-widget {
  margin-bottom: 25px;
  margin-top: 25px;
}}